ROCKET_DATABASES={garage_cloud={url="postgresql://garage_user@localhost:5432/garage_cloud"}}
DEV_MODE=true
NATS_ENABLED=true
NATS_URL=nats://127.0.0.1:4222
GARAGE_ID=ry
GARAGE_LOCATION="Ry, Denmark"
VPN_ENDPOINT=ry.example.dk:51820
